<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Autenticación</title>
    <link rel="stylesheet" th:href="@{/css/index.css}">
</head>
<body> 
  
        <form class="F1" method="post" th:action="@{/logginprocess}">
           <div><p style="font-size: 40px;color:white;">Autenticación</p></div>
           <div><label>Usuario: </label><input type="text" name="username" autocomplete="off" /></div>
           <div><label>Password: </label><input type="password" name="password" /></div>
           <div><input type="submit" value="Entrar"/></div>
           <div><p style="font-size: 16px; color: red;" th:if="${param.logout}">Sesión de usuario finalizada.</p>
                <p style="font-size: 16px; color: red;" th:if="${param.error}">Usuario y contraseña incorrectos.</p>
           </div>
        </form>
</body>
</html>